@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?fesmz2');
    src:    url('fonts/icomoon.eot?fesmz2#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?fesmz2') format('truetype'),
        url('fonts/icomoon.woff?fesmz2') format('woff'),
        url('fonts/icomoon.svg?fesmz2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rotate:before {
    content: "\e098";
}
.icon-upload-file:before {
    content: "\e60a";
}
.icon-triangle-tag:before {
    content: "\e60e";
}
.icon-new:before {
    content: "\e61f";
}
.icon-solid-success:before {
    content: "\e625";
}
.icon-solid-error:before {
    content: "\e626";
}
.icon-solid-tip:before {
    content: "\e627";
}
.icon-solid-info:before {
    content: "\e628";
}
.icon-solid-help:before {
    content: "\e629";
}
.icon-shape-tag:before {
    content: "\e63a";
}
.icon-qzone:before {
    content: "\e642";
}
.icon-check:before {
    content: "\e645";
}
.icon-close:before {
    content: "\e646";
}
.icon-solid-warning:before {
    content: "\e664";
}
.icon-add-img:before {
    content: "\e666";
}
.icon-trash-o:before {
    content: "\e67e";
}
.icon-pengyou:before {
    content: "\e69b";
}
.icon-taobao:before {
    content: "\e6a8";
}
.icon-alipay:before {
    content: "\e6b9";
}
.icon-solid-plus:before {
    content: "\e6d8";
}
.icon-round-tag:before {
    content: "\e6f6";
}
.icon-default-img:before {
    content: "\e898";
}
.icon-solid-minus:before {
    content: "\e900";
}
.icon-arrow-up-line:before {
    content: "\e901";
}
.icon-arrow-down-line:before {
    content: "\e902";
}
.icon-img-upload:before {
    content: "\e903";
}
.icon-toggle-lg-on:before {
    content: "\e904";
}
.icon-toggle-lg-off:before {
    content: "\e905";
}
.icon-lock:before {
    content: "\e906";
}
.icon-music:before {
    content: "\f001";
}
.icon-search:before {
    content: "\f002";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-heart:before {
    content: "\f004";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-user:before {
    content: "\f007";
}
.icon-film:before {
    content: "\f008";
}
.icon-check-b:before {
    content: "\f00c";
}
.icon-close-b:before {
    content: "\f00d";
}
.icon-search-plus:before {
    content: "\f00e";
}
.icon-search-minus:before {
    content: "\f010";
}
.icon-power-off:before {
    content: "\f011";
}
.icon-gear:before {
    content: "\f013";
}
.icon-home:before {
    content: "\f015";
}
.icon-file-o:before {
    content: "\f016";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-download:before {
    content: "\f019";
}
.icon-repeat:before {
    content: "\f01e";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-flag:before {
    content: "\f024";
}
.icon-qrcode:before {
    content: "\f029";
}
.icon-camera:before {
    content: "\f030";
}
.icon-picture-o:before {
    content: "\f03e";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-plus-circle:before {
    content: "\f055";
}
.icon-minus-circle:before {
    content: "\f056";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-question-circle:before {
    content: "\f059";
}
.icon-info-circle:before {
    content: "\f05a";
}
.icon-ban:before {
    content: "\f05e";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-arrow-down:before {
    content: "\f063";
}
.icon-plus:before {
    content: "\f067";
}
.icon-minus:before {
    content: "\f068";
}
.icon-exclamation-circle:before {
    content: "\f06a";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-shopping-cart:before {
    content: "\f07a";
}
.icon-folder:before {
    content: "\f07b";
}
.icon-folder-open:before {
    content: "\f07c";
}
.icon-bar-chart:before {
    content: "\f080";
}
.icon-comments:before {
    content: "\f086";
}
.icon-thumbs-o-up:before {
    content: "\f087";
}
.icon-thumbs-o-down:before {
    content: "\f088";
}
.icon-heart-o:before {
    content: "\f08a";
}
.icon-upload:before {
    content: "\f093";
}
.icon-phone:before {
    content: "\f095";
}
.icon-credit-card:before {
    content: "\f09d";
}
.icon-arrow-circle-left:before {
    content: "\f0a8";
}
.icon-arrow-circle-right:before {
    content: "\f0a9";
}
.icon-arrow-circle-up:before {
    content: "\f0aa";
}
.icon-arrow-circle-down:before {
    content: "\f0ab";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-up:before {
    content: "\f0d8";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-sort:before {
    content: "\f0dc";
}
.icon-sort-desc:before {
    content: "\f0dd";
}
.icon-sort-asc:before {
    content: "\f0de";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-comments-o:before {
    content: "\f0e6";
}
.icon-bell:before {
    content: "\f0f3";
}
.icon-file-text-o:before {
    content: "\f0f6";
}
.icon-angle-double-left:before {
    content: "\f100";
}
.icon-angle-double-right:before {
    content: "\f101";
}
.icon-angle-double-up:before {
    content: "\f102";
}
.icon-angle-double-down:before {
    content: "\f103";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-angle-top:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-laptop:before {
    content: "\f109";
}
.icon-tablet:before {
    content: "\f10a";
}
.icon-mobile:before {
    content: "\f10b";
}
.icon-folder-o:before {
    content: "\f114";
}
.icon-folder-open-o:before {
    content: "\f115";
}
.icon-keyboard-o:before {
    content: "\f11c";
}
.icon-flag-o:before {
    content: "\f11d";
}
.icon-star-half-o:before {
    content: "\f123";
}
.icon-chevron-circle-left:before {
    content: "\f137";
}
.icon-chevron-circle-right:before {
    content: "\f138";
}
.icon-chevron-circle-up:before {
    content: "\f139";
}
.icon-chevron-circle-down:before {
    content: "\f13a";
}
.icon-minus-square-o:before {
    content: "\f147";
}
.icon-long-arrow-down:before {
    content: "\f175";
}
.icon-long-arrow-up:before {
    content: "\f176";
}
.icon-long-arrow-left:before {
    content: "\f177";
}
.icon-long-arrow-right:before {
    content: "\f178";
}
.icon-apple:before {
    content: "\f179";
}
.icon-windows:before {
    content: "\f17a";
}
.icon-android:before {
    content: "\f17b";
}
.icon-sina:before {
    content: "\f18a";
}
.icon-renren:before {
    content: "\f18b";
}
.icon-plus-square-o:before {
    content: "\f196";
}
.icon-file-pdf-o:before {
    content: "\f1c1";
}
.icon-file-word-o:before {
    content: "\f1c2";
}
.icon-file-excel-o:before {
    content: "\f1c3";
}
.icon-file-ppt-o:before {
    content: "\f1c4";
}
.icon-file-image-o:before {
    content: "\f1c5";
}
.icon-file-archive-o:before {
    content: "\f1c6";
}
.icon-file-audio-o:before {
    content: "\f1c7";
}
.icon-file-video-o:before {
    content: "\f1c8";
}
.icon-file-code-o:before {
    content: "\f1c9";
}
.icon-tencent-weibo:before {
    content: "\f1d5";
}
.icon-qq:before {
    content: "\f1d6";
}
.icon-weixin:before {
    content: "\f1d7";
}
.icon-area-chart:before {
    content: "\f1fe";
}
.icon-pie-chart:before {
    content: "\f200";
}
.icon-toggle-off:before {
    content: "\f204";
}
.icon-toggle-on:before {
    content: "\f205";
}
.icon-commenting:before {
    content: "\f27a";
}
.icon-commenting-o:before {
    content: "\f27b";
}

