@font-face {
	font-family: 'icomoon';
	src:url('../icomoon.eot?6gu3cx');
	src:url('../icomoon.eot?6gu3cx#iefix') format('embedded-opentype'),
		url('../icomoon.ttf?6gu3cx') format('truetype'),
		url('../icomoon.woff?6gu3cx') format('woff'),
		url('../icomoon.svg?6gu3cx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change .. */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-img-upload:before{content:"\e901";}
.icon-house:before{content:"\e900";}
.icon-hreat:before{content:"\e601";}
.icon-shape-tag:before{content:"\e63a";}
.icon-solid-hreat:before{content:"\e661";}
.icon-icon-solid-down:before{content:"\e6c5";}
.icon-solid-up:before{content:"\e6c6";}
.icon-user:before{content:"\e005";}
.icon-mail-open:before{content:"\e01e";}
.icon-smile:before{content:"\e021";}
.icon-print:before{content:"\e02e";}
.icon-img:before{content:"\e032";}
.icon-prev:before{content:"\e050";}
.icon-next:before{content:"\e051";}
.icon-like:before{content:"\e068";}
.icon-dislike:before{content:"\e06d";}
.icon-circle-up:before{content:"\e078";}
.icon-circle-down:before{content:"\e07b";}
.icon-mail:before{content:"\e086";}
.icon-eye:before{content:"\e087";}
.icon-circle-info:before{content:"\e08b";}
.icon-password:before{content:"\e08e";}
.icon-rotate:before{content:"\e098";}
.icon-set:before{content:"\e09a";}
.icon-solid-purse:before{content:"\e602";}
.icon-upload-file:before{content:"\e60a";}
.icon-kefu:before{content:"\e60c";}
.icon-triangle-tag:before{content:"\e60e";}
.icon-purse:before{content:"\e611";}
.icon-edit:before{content:"\e614";}
.icon-new:before{content:"\e61f";}
.icon-folder:before{content:"\e624";}
.icon-solid-success:before{content:"\e625";}
.icon-solid-error:before{content:"\e626";}
.icon-solid-tip:before{content:"\e627";}
.icon-solid-info:before{content:"\e628";}
.icon-solid-help:before{content:"\e629";}
.icon-qq:before{content:"\e62e";}
.icon-vcode:before{content:"\e62f";}
.icon-upload-face:before{content:"\e633";}
.icon-search:before{content:"\e637";}
.icon-code:before{content:"\e639";}
.icon-money:before{content:"\e63e";}
.icon-phone:before{content:"\e640";}
.icon-qzone:before{content:"\e642";}
.icon-success:before{content:"\e645";}
.icon-error:before{content:"\e646";}
.icon-renren:before{content:"\e647";}
.icon-menu:before{content:"\e648";}
.icon-date:before{content:"\e649";}
.icon-moble:before{content:"\e64a";}
.icon-sina:before{content:"\e652";}
.icon-skin:before{content:"\e655";}
.icon-truck:before{content:"\e658";}
.icon-solid-bell:before{content:"\e65e";}
.icon-bell:before{content:"\e65f";}
.icon-magic:before{content:"\e660";}
.icon-key:before{content:"\e662";}
.icon-circle-success:before{content:"\e663";}
.icon-solid-warning:before{content:"\e664";}
.icon-circle-warning:before{content:"\e665";}
.icon-add-img:before{content:"\e666";}
.icon-location:before{content:"\e669";}
.icon-file:before{content:"\e66f";}
.icon-trash:before{content:"\e67e";}
.icon-solid-baidu:before{content:"\e680";}
.icon-baidu:before{content:"\e681";}
.icon-arrow-l:before{content:"\e686";}
.icon-arrow-r:before{content:"\e687";}
.icon-arrow-b:before{content:"\e688";}
.icon-arrow-t:before{content:"\e689";}
.icon-lock:before{content:"\e693";}
.icon-solid-qzone:before{content:"\e696";}
.icon-solid-pengyou:before{content:"\e69a";}
.icon-pengyou:before{content:"\e69b";}
.icon-export:before{content:"\e69f";}
.icon-import:before{content:"\e6a0";}
.icon-circle-error:before{content:"\e6a7";}
.icon-taobao:before{content:"\e6a8";}
.icon-alipay:before{content:"\e6b9";}
.icon-solid-star:before{content:"\e6c8";}
.icon-half-star:before{content:"\e6c9";}
.icon-star:before{content:"\e6ca";}
.icon-user-group:before{content:"\e6cc";}
.icon-download:before{content:"\e6cd";}
.icon-upload:before{content:"\e6ce";}
.icon-solid-add:before{content:"\e6d8";}
.icon-solid-weixin:before{content:"\e6ef";}
.icon-round-tag:before{content:"\e6f6";}
.icon-solid-taobao:before{content:"\e6ff";}
.icon-solid-qq:before{content:"\e700";}
.icon-solid-sian:before{content:"\e701";}
.icon-solid-alipay:before{content:"\e702";}
.icon-yuan:before{content:"\e704";}
.icon-default-img:before{content:"\e898";}
.icon-sad:before{content:"\e907";}
.icon-exit:before{content:"\e911";}
.icon-add:before{content:"\e913";}
.icon-msg:before{content:"\e916";}
.icon-girl:before{content:"\e92a";}
.icon-boy:before{content:"\e92b";}
.icon-cart:before{content:"\e933";}
.icon-more:before{content:"\e934";}
.icon-attach:before{content:"\e935";}
.icon-circle-help:before{content:"\e94a";}
.icon-weixin:before{content:"\ec7d";}